p,q,blockquote,li,article {
  font-family: Times !important;
  color: black !important;
}
a { 
  color: darkblue !important;
  font-family: Times !important;
  text-decoration: underline !important;
}
